*{ margin: 0; padding: 0; list-style: none; border: 0; }
html{ font: 12px Arial; color: #3D3D3D; }
a{ font: 12px Arial; color: #3D3D3D; text-decoration: none; }
input{ font: 12px Arial; color: #3D3D3D; }



header{
	width: 819px;
	margin: 0 auto;
	height: 96px;
	border-bottom: 1px solid #F0F0F0;

	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
}

header .menu{
	cursor: pointer;
	color: #545454;
	font-size: 18px;
	margin-right: 14px;
	border: 1px solid #DBDBDB; 
	width: 40px; 
	height: 40px;
	border-radius: 3px;

	display: flex;
	align-items: center;
	justify-content: center;
}

header .search{ position: relative; }

header .search input{
	background-color: #F0F0F0;
	width:280px;
	height: 40px;
	border-radius: 4px;
	outline: none;
	padding-left: 33px;
}
header .search .fa-search{
	color: #CACACA;
	position: absolute;
	top: 12px;
	left: 10px;
	font-size: 15px;
}

.photoUser{ position: relative; }
.photoUser .number{
	position: absolute;
	top: 8px;
	left: -10px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-color: #E3472F;
	padding: 5px 6px;
	border-radius: 5px;
}

section{
	width: 819px;
	margin: 0 auto;
}

section .sortBy{
	margin: 5px;
}
section .sortBy #sortBy{
	border: 1px solid #CCC;
}

section .lista{
	display: flex;
	display: -webkit-flex;
	margin: 50px 0;
}

section .lista .votes{
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	width: 44px;
	height: 75px;

	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-around;

}
section .lista .votes p{ display: flex; align-items: center; justify-content: center;}

section .lista .votes .arrow { height:32px; border-bottom: 1px solid #E6E6E6; color: #E3472F; font-size: 20px; }
section .lista .votes .vote{ flex: 1; font-weight: bold; color: #000; font-size: 24px; }

section .lista .global{ margin-left: 21px; }

section .lista .global .url{
	font-size: 11px;
	font-weight: bold;
	color: #CBCBCB;
	text-transform: uppercase;
}

section .lista .global .title{
	font-size: 24px;
	margin: 5px 0;
}

section .lista .global .inf{
	display: flex;
	align-items: center;
}

section .lista .global .inf .category{
	font-size: 12px;
	color: #FFF;
	background-color: #00E2AD;
	padding: 6px 9px;
	border-radius: 10px;
}
section .lista .global .inf .photoUserMini a{
	color: #E3472F;
	font-size: 12px;
	font-weight: bold;
}

section .lista .global .inf .photoUserMini span, section .lista .global .inf .comments a span{ text-decoration: underline; margin-left: 3px; }

section .lista .global .inf .date{ color: #ABABAB; font-size: 11px; margin: 0 8px; }

section .lista .global .inf .comments a, section .lista .global .inf .edit a{
	color: #E3472F;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
section .lista .global .inf .comments a{ margin: 0 8px; text-decoration: none; }

section .loadMore{
	cursor: pointer;
	background-color: #F4F4F1;
	color: #E3472F;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.noData{
	cursor: pointer;
	background-color: #F4F4F1;
	color: #E3472F;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

footer{
	width: 819px;
	margin: 10px auto;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

footer .logo2{ margin: 0 5px; }
footer .name{ flex: 1; }
footer .name .title{
	font-weight: bold;
	font-size: 13px;
}

footer .menu2{
	display: flex;
	display: -webkit-flex;
	font-size: 12px;
	color: #707070;
}
footer .menu2 p{ margin: 0 5px; }
footer .menu2 .fa-facebook{ color: #4267B2; }
footer .menu2 .fa-twitter-square{ color: #1DA1F2; }
footer .menu2 .fa-circle{ font-size: 7px; }

footer .copyright{
	font-size: 11px;
	color: #BBBBBB;
	text-align: right;
}
footer .menu2 a{ color: #E3472F; }